INMERSIÓN DE DATOS CON PYTHON/CLASE 01 - PREPROCESAMIENTO Y EXPLORACIÓN DE DATOS/Inmersión Datos con Python - Clase 1.mp4
INMERSIÓN DE DATOS CON PYTHON/CLASE 02 - CONSTRUCCIÓN, EVALUACIÓN Y SELECCIÓN DEL MEJOR MODELO/Inmersión Datos con Python - Clase 2 - Construcción, Evaluación y selección del mejor modelo.mp4
